*{
	padding: 0;
	margin: 0;
}

html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	background: #c9c9c9;
	overflow-x: hidden;
}

body{
	width: 500px;
	margin: 0 auto 0 auto;
	background: #333;
}

li{
	padding-left: 15px; 
	padding-bottom: 20px; 
	list-style-position: inside;
	list-style-type: decimal;
}

#content{
	margin: 0;
	position: relative;
	height: auto !important;
	height: 100%; 
	min-height: 100%;
	background: #e5d2a7;
	-webkit-transition: left 0.8s;
	-o-transition: left linear 0.8s;
	z-index: 2;
	left: 0px;
}

#page{
	padding: 15px 35px 15px 15px;
	margin-top: 1px;
	height: auto !important;
	height: 100%; 
	min-height: 100%;
	background: #e5d2a7;
}

#header{
	background: -webkit-linear-gradient(#bfac85 0%, #8b7235 100%);
	background: -o-linear-gradient(#bfac85 0%, #8b7235 100%);
	height: 37px;
	box-shadow: 0px 2px 0px #333;
	text-align: center;
	color: white;
	font-family: "Georgia", "Arial", sans-serif;
	font-size: 26px;
	padding-top: 8px;
	padding-right: 50px;
}

#menuTitle{
	margin-left: 33%;
	padding-bottom: 10px;
	color: #555;
	font-family: "Georgia", "Arial", sans-serif;
	font-size: 26px;
	text-align: center;
}

#menuButton{
	background: url("picture/sprite.png");
	background-position: 0 -20px;
	height: 25px;
	width: 25px;
	position: relative;
	float: left;
	top: 2px;
	left: 20px;
}

#menu{
	min-height: 100%;
	height: 100%;
	background: #333;
	width: 500px;
	position: absolute;
	z-index: 1;
	text-shadow: none;
}

#search{
	padding: 12px;
}

#search input{
	font-size: 12px;
	background-color: #444;
	color: #aaa;
	border: solid 1px #aaa;
	padding-left: 15px;
	height: 25px;
	border-radius: 10px;
	width: 80%;
	text-shadow: none;
}

.menuList{
	height: 40px;
	color: #aaa;
	width: 83%;
	padding-top: 15px;
	padding-left: 15px;
	font-size: 23px;
}

.menuList:hover {
	background-color: #444;
}

#Scocktail{
	background-image: url("picture/sprite.png");
	height: 37px;
	width: 27px;
	display: block;
	margin-top: -7px;
	background-position: -23px 0;
	float: left;
	margin-right: 15px;
}

#Sappetizer{
	background-image: url("picture/sprite.png");
	height: 33px;
	width: 27px;
	display: block;
	margin-top: -3px;
	background-position: -23px -37px;
	float: left;
	margin-right: 15px;
}

#Sentree{
	background-image: url("picture/sprite.png");
	height: 27px;
	width: 24px;
	display: block;
	margin-top: -3px;
	background-position: 0px -61px;
	float: left;
	margin-right: 15px;
}

#Sdessert{
	background-image: url("picture/sprite.png");
	height: 22px;
	width: 26px;
	display: block;
	background-position: -25px -67px;
	float: left;
	margin-right: 15px;
}

#Shome{
	background-image: url("picture/sprite.png");
	height: 22px;
	width: 26px;
	display: block;
	background-position: 0px -88px;
	float: left;
	margin-right: 15px;
}

.bottom{
	display: block;
	height: 1px;
	width: 100%;
	background: #000;
}

.top{
	display: block;
	height: 1px;
	width: 100%;
	background: #888;
}

h3{
	font-family: "Lato","Helvetica",sans-serif;
	color: #3f3f3f;
}

#splitLine{
	height: 2px;
	width: 100%;
	background: -webkit-linear-gradient(top left, #666 0.33%, #e5d2a7 78.48%);
	background: -o-linear-gradient(top left, #666 0.33%, #e5d2a7 78.48%);
	display: block;
	margin-bottom: 20px;
}

.image{
	display: block;
	height: 125px;
	width: 125px;
	background-image: url("picture/noel.jpg");
	border: solid;
	float: left; 
}

.recipe{
	overflow: hidden;
	background: white;
	padding: 8px;
	margin-bottom: 20px;
	width: 100%;
	height: 130px; 
	box-shadow: 1px 3px 8px black;
}
.recipeTitle{
	font: bold large sans-serif;
	padding-left: 142px; 
	vertical-align: top;
	text-align: center; 
}
.recipeDescription{
	padding-left: 142px; 
}
.totalRecipe{
	background: white;
	padding: 8px;
	margin-bottom: 30px;
	min-height: 100%;
	width: 100%;
	box-shadow: 1px 3px 8px black;
	}

.bigImage{
	display: block;
	height: 175px;
	margin: 7px 7px 7px 7px; 
	width: 125px;
	background-image: url("picture/noel.jpg");
	border: solid;
	float: left;
}

#titleRecipe{
	padding-top: 15px; 
	text-align: center; 
	font: bold large sans-serif;
}

.textRecipe{
	padding-right: 55px;
	font-size: 18px;
 }

.checkButton{
	float: right;
	height: 36px;
	width: 36px;
	margin-right: -40px;
	border-radius: 18px;
	border: solid 1px;
	background-color: rgba(204,189,149,0.34);
}
.endRecipe{
	font: bold large cursive;
	padding-top: 25px; 
	text-align: center; 
}
.ingredientRecipe{
	padding-top: 35px; 
	min-height: 125px; 
}
.ingredient{
	padding-bottom: 0px;
	list-style-type: circle;
}

.sectionTitle{
	text-decoration: underline; 
	padding-bottom: 5px;
}

#chrono{
	position: fixed;
	height: 50px; 
	width: 50%;
	left: 25%;
	background: #000000;
	z-index: 9999999; 
	border-radius: 15px 15px 0 0;
	bottom: 0;
	opacity: 0.8;
}
#chronoText{
	color: white; 
	padding-top: 7px; 
	padding-left: 5px;
	font-family: sans-serif;
	font-size: small;
}
#chronoNumber{
	color: white; 
	padding-top: 5px; 
	font-family: sans-serif;
	font-size: smaller;
	text-align: center
}

.error{
	width: 90%;
	margin: 5% 5%;
	background: -webkit-linear-gradient(#ff7474 0%, #d00000 100%);
	padding: 7px 0 7px 5%;
	border-radius: 10px;
	border: 1px solid #c82929;
	box-shadow: 4px 4px 10px black
}

#emptyStars{
	position: absolute;
	top: 110px;   
	right: 25px; 
	width: 125px;
	height: 25px;  
	background-image: url("picture/empty stars.png");
}

#notEmptyStars{
	height: 25px;  
	background-image: url("picture/not empty stars.png");
}

.fourStars{
	width: 100px; 
}

.threeStars{
	width: 75px; 
}


/*
 *	Media part
 *
 */
 
@media (max-width: 800px) {
  html, body, #menu{
  		width: 100%;
  		margin: 0;
  		padding: 0;
   }
}